.inputs {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  border-radius: 10px;
  border: 1px solid grey;
  margin-bottom: 1vh;
  height: 3vh;
  text-align: start;
}

.inputs > textarea[name="text"],
textarea[name="result"] {
  text-wrap: wrap;
  height: 20vh;
  width: 100%;
  resize: none;
  margin-bottom: 1vh;
}

.buttons {
  margin-bottom: 1vh;
}
